$input-border-radius: 4px;
$input-small-height: 32px;
$input-height: 42px;
$input-big-height: 50px;
$input-margin-bottom: 21px;
$input-textarea-min-height: 80px;

$navbar-height: 60px;
$header-height: 50px;
$nav-height: 32px;
$common-gap: 10px;
$scrollbar-size: 5px;

$table-expander-size: 20px;
$table-header-height: 24px;
$table-row-height: 24px;
$table-panel-height: 36px;
$table-panel-big-height: 40px;
$table-padding-size: 6px;
