@import 'theming/colors/colors';

$light-palette: (
  danger-color: $danger,
  success-color: $success-light,
  warning-color: $warning,
  warning-extra-color: $warning-extra,
  bg-color: $secondary,
  bg-main-color: $light-main-bg,
  bg-block-main-color: $light-extra-fill,
  bg-block-0-color: $light-extra-fill,
  bg-block-1-color: $light-main-bg,
  bg-block-empty-color: $primary-65,
  bg-toggle-color: $whitesmoke,
  bg-toggle-checked-color: $checked-color,
  base-hover-color: $primary-10,
  base-hover-color-2: $primary-25,
  button-bg-color: $primary,
  button-bg-hover-color: $primary-65,
  button-text-color: $secondary,
  button-default2-bg-color: $primary-10,
  button-default2-disabled-bg-color: $primary-25,
  button-default2-bg-hover-color: $primary-25,
  button-outline-bg-hover-color: $primary-25,
  button-toggle-bg-color: $dark-toggle-bg-color,
  button-toggle-bg-checked-color: $dark-toggle-bg-checked-color,
  text-color: $dark,
  button-danger-text-color: $secondary,
  button-accept-text-color: $secondary,
  text-main-color: $dark-main,
  text-inverse-color: $light-main-bg,
  text-static-color: $secondary,
  text-link-color: $indigo-deep,
  field-focused-color: $bisque-75,
  shadow-color: $shadow-color,
  border-color: $secondary,
  box-shadow: 0px 4px 8px $shadow-color,
  early-redemption-color: $indigo-deep,
  dot-color-0: $cyan,
  dot-color-1: $warning,
  line-color-0: $line-pardise-pink,
  line-color-1: $line-gold-foil,
  line-color-2: $line-alabama-crimson,
  line-color-3: $line-olive-drab,
  line-color-4: $line-mexican-pink,
  line-color-5: $line-android-green,
  line-color-6: $line-rose-quartz-pink,
  line-color-7: $line-green-r-y-b,
  line-color-8: $line-midnight,
  line-color-9: $line-la-salle-green,
  line-color-10: $line-deep-magenta,
  line-color-11: $line-emerald,
  line-color-12: $line-deep-lilac,
  line-color-13: $line-green-crayola,
  line-color-14: $line-american-violet,
  line-color-15: $line-blue-sapphire,
  line-color-16: $line-grape,
  line-color-17: $line-yale-blue,
  line-color-18: $line-pixie-powder,
  line-color-19: $line-havelock-blue,
  line-color-20: $line-plump-purple,
  line-color-21: $line-denim-blue,
  line-color-22: $line-persian-indigo,
  pie-color-0: $indigo,
  pie-color-1: $blue,
  pie-color-2: $lightblue,
  pie-color-3: $teal,
  pie-color-4: $lightpurple,
  pie-color-5: $pink,
  pie-color-6: $yellow,
  pie-color-7: $bisque,
  pie-color-8: $purple,
  pie-color-9: $palegreen,
  default-region-color: $default-region-light,
  australia-color: $australia-light,
  russia-color: $russia-light,
  europe-color: $europe-light,
  asia-color: $asia-light,
  africa-color: $africa-light,
  canada-color: $canada-light,
  mexico-color: $mexico-light,
  usa-color: $usa-light,
  south-america-color: $south-america-light
);
