<div #viewport
     class="app-canvas__canvas app-bg-10 app-border"
     style="width: 800px; height: 600px;">
</div>

<!-- <div [attr.type]="Tool.Frame"
     class="app-sketch-frame">
</div>

<div [attr.type]="Tool.Scaling"
     [attr.side]="ScalingToolPointType.TopLeft"
     class="app-sketch-frame-scale-point">
</div>

<div [attr.type]="Tool.Scaling"
     [attr.side]="ScalingToolPointType.TopCenter"
     class="app-sketch-frame-scale-point">
</div>

<div [attr.type]="Tool.Scaling"
     [attr.side]="ScalingToolPointType.TopRight"
     class="app-sketch-frame-scale-point">
</div>

<div [attr.type]="Tool.Scaling"
     [attr.side]="ScalingToolPointType.BottomLeft"
     class="app-sketch-frame-scale-point">
</div>

<div [attr.type]="Tool.Scaling"
     [attr.side]="ScalingToolPointType.BottomCenter"
     class="app-sketch-frame-scale-point">
</div>

<div [attr.type]="Tool.Scaling"
     [attr.side]="ScalingToolPointType.BottomRight"
     class="app-sketch-frame-scale-point">
</div> -->

<!-- <div [attr.type]="Tool.Scaling"
     [attr.side]="ScalingToolPointType.LeftCenter"
     class="app-sketch-frame-scale-point">
</div>

<div [attr.type]="Tool.Scaling"
     [attr.side]="ScalingToolPointType.RightCenter"
     class="app-sketch-frame-scale-point">
</div> -->
